<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>com.lumen.controller.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <display-name>SatelliteApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLogInServlet</display-name>
    <servlet-name>AdminLogInServlet</servlet-name>
    <servlet-class>com.satellite.controller.AdminLogInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogInServlet</servlet-name>
    <url-pattern>/AdminLogInServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLoginServlet</display-name>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>com.satellite.controller.UserLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/UserLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegisterServlet</display-name>
    <servlet-name>UserRegisterServlet</servlet-name>
    <servlet-class>com.satellite.controller.UserRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegisterServlet</servlet-name>
    <url-pattern>/UserRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommunicationSatServlet</display-name>
    <servlet-name>CommunicationSatServlet</servlet-name>
    <servlet-class>com.satellite.controller.CommunicationSatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommunicationSatServlet</servlet-name>
    <url-pattern>/CommunicationSatServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EarthObservationSatServlet</display-name>
    <servlet-name>EarthObservationSatServlet</servlet-name>
    <servlet-class>com.satellite.controller.EarthObservationSatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EarthObservationSatServlet</servlet-name>
    <url-pattern>/EarthObservationSatServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExperimentalSatServlet</display-name>
    <servlet-name>ExperimentalSatServlet</servlet-name>
    <servlet-class>com.satellite.controller.ExperimentalSatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExperimentalSatServlet</servlet-name>
    <url-pattern>/ExperimentalSatServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SamllSatServlet</display-name>
    <servlet-name>SamllSatServlet</servlet-name>
    <servlet-class>com.satellite.controller.SamllSatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SamllSatServlet</servlet-name>
    <url-pattern>/SamllSatServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentSatServlet</display-name>
    <servlet-name>StudentSatServlet</servlet-name>
    <servlet-class>com.satellite.controller.StudentSatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentSatServlet</servlet-name>
    <url-pattern>/StudentSatServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommunicationSatByYearServlet</display-name>
    <servlet-name>CommunicationSatByYearServlet</servlet-name>
    <servlet-class>com.satellite.controller.CommunicationSatByYearServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommunicationSatByYearServlet</servlet-name>
    <url-pattern>/CommunicationSatByYearServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EarthObservationSatByYearServlet</display-name>
    <servlet-name>EarthObservationSatByYearServlet</servlet-name>
    <servlet-class>com.satellite.controller.EarthObservationSatByYearServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EarthObservationSatByYearServlet</servlet-name>
    <url-pattern>/EarthObservationSatByYearServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExperimentalSatByYearServlet</display-name>
    <servlet-name>ExperimentalSatByYearServlet</servlet-name>
    <servlet-class>com.satellite.controller.ExperimentalSatByYearServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExperimentalSatByYearServlet</servlet-name>
    <url-pattern>/ExperimentalSatByYearServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExperimentalSatbyYearServlet</display-name>
    <servlet-name>ExperimentalSatbyYearServlet</servlet-name>
    <servlet-class>com.satellite.controller.ExperimentalSatByYearServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExperimentalSatbyYearServlet</servlet-name>
    <url-pattern>/ExperimentalSatbyYearServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SmallSatByYearServlet</display-name>
    <servlet-name>SmallSatByYearServlet</servlet-name>
    <servlet-class>com.satellite.controller.SmallSatByYearServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SmallSatByYearServlet</servlet-name>
    <url-pattern>/SmallSatByYearServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentSatByYearServlet</display-name>
    <servlet-name>StudentSatByYearServlet</servlet-name>
    <servlet-class>com.satellite.controller.StudentSatByYearServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentSatByYearServlet</servlet-name>
    <url-pattern>/StudentSatByYearServlet</url-pattern>
  </servlet-mapping>
</web-app>